/*! venom.css v1.1 | AGPLv3+ | terrybogard.gay */

*, ::before, ::after { box-sizing:border-box; }

html { font-family:system-ui,sans-serif; font-size:1rem; line-height:1.5; word-break:break-word; --webkit-text-size-adjust:100%; --moz-tab-size:4; tab-size:4; }
body { margin:0; padding:0; }

a { color:inherit; background-color:transparent; }

b, strong { font-weight:bolder; }
small { font-size:80%; }
sub, sup { position:relative; font-size:75%; line-height:0; vertical-align:baseline; }
sub { bottom:-0.25rem; }
sup { top:-0.5rem; }

h1, h2, h3, h4, h5, h6 { margin:1.1rem 0; font-weight:600; line-height:1.1; }
h1 { font-size:2rem; }
h2 { font-size:1.75rem; }
h3 { font-size:1.5rem; }
h4 { font-size:1.25rem; }
h5 { font-size:1rem; }
h6 { font-size:1rem; }
p, ol, ul { margin:1rem 0; }
p:first-child, ol:first-child, ul:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top:0; }
p:last-child, ol:last-child, ul:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child { margin-bottom:0; }
p:only-child, ol:only-child, ul:only-child, h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child, h6:only-child { margin:0; }
nav ol, nav ul { list-style:none; padding:0; }

code, pre, kbd, samp { font-family:ui-monospace,monospace; font-size:inherit; }

img, svg, audio, video, iframe, canvas { vertical-align:middle; }
img, video { margin:0; padding:0; height:auto; max-width:100%; border:none; }
svg:not([fill]) { fill:currentColor; }
iframe { border:none; }

table { text-indent:0; border-color:inherit; }

summary { display:list-item; }

progress { vertical-align:baseline; }

input, button, textarea, select { margin:0; font:inherit; font-size:100%; line-height:1.15; }
button, select { text-transform:none; }
button, [type='button'], [type='reset'], [type='submit'] { --webkit-appearance:button; }
legend { padding:0; }

hr { margin:1rem 0; height:0; color:inherit; overflow:visible; }

.hidden, [hidden] { display:none!important; }

/* accessibility */

ins { text-decoration:none; font-weight:bolder; }
abbr[title] { cursor:help; text-decoration:underline; text-decoration:underline dotted; }
[aria-disabled="true"], [aria-disabled], [disabled] { cursor:not-allowed; pointer-events:none; }

@media (prefers-reduced-motion:reduce) { *, ::before, ::after {
  animation-delay:-1ms!important;
  animation-duration:1ms!important;
  animation-iteration-count:1!important;
  background-attachment:initial!important;
  scroll-behavior:auto!important;
  transition-delay:0s!important;
  transition-duration:0s!important;
} }
